:root {
  --whiteColor: #ffffff;
  --defaultFont: 'Poppins', sans-serif;
}

body {
  font-family: var(--defaultFont);
  /* background-color: var(--whiteColor); */
  /* position: relative; */
}
::selection {
  background-color: #f5df4e;
  color: #000;
}
