name: CI

on:
  push:
    branches:
      - main
      - pre-prod
  pull_request:
    branches:
      - main
      - pre-prod

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Instalar dependências
        run: npm ci

      - name: Rodar testes
        run: npm test -- --runInBand

      - name: Testar build
        run: npm run build
